body, main {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: 002642;
    display: flex;
    justify-content: center;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
 }
 form, #copy-div {
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: 01BAEF;
    border-radius: 1em;
    margin-top: 10vh;
 }
 
 input[type="submit"], input[type="file"], button {

    border: 1px solid rgb(86, 85, 85);
    border-radius: 1em;
    max-width: 100vw;
    font-size: 1em;
    background-color: 002642;
    color: F5F9E9;
    display: inline-block;
    padding: 2em 2em;
    cursor: pointer;
    margin: 3vh 5vw;
 }
 input[type="submit"] {
    padding: 1em 1.5em;
 }
 input[type="text"] {
    display: none;
 }
 .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }