<html>
   <head>
      <title>Self Destructing Uploads</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
   <body>
      
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <h3 id="upload-title">Upload</h3>
         <div id="custom-file">
            
            <input id="file-upload" type="file" name="file"/>
         </div>
         
         <input type = "submit"/>
      </form>   
   </body>
</html>
